body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  background-color: black;
   
  h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
   }

}

#bgp{
  width:100%;
  height:100%;
}

#title{
  position: absolute;
  left: 50%;
  top:20%;
  transform: translate(-50%, -50%);
  text-align:center;
}


#p5-canvas-container{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 510px;
  left: 40%;
}