html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  width: 100%; /* Ensures it takes the full width */
  background-image: url('../assets/header.png');
  background-color: #333; /* Fallback color */
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 50px 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); 
}

.navbar a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers vertically in the viewport */
  align-items: center; /* Centers horizontally in the viewport */
  height: 100vh; /* Full viewport height */
  margin: 0;
  padding: 0;
  width: 100%; /* Full width */
  background-color: black; /* Or your preferred background color */
}


canvas {
  display: block;
}
