body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  align-items: center; 
  background-color: black;

  /*h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
   }

}
#button {
  background-color: rgba(0, 0, 0, 0.75);
  width: 85%;
  padding: 20px;
  border-radius: 20px;
 }

 nav h1 a:hover {
  background-color: coral;
  color: black;
*/

}
canvas {
  display: block;
}
